<% if @frogs.empty? %>
    <span>Não há nenhum sapo ainda :(</span>
<% else %>
    <% @frogs.each do |frog| %>
        <div class="frog">
            <h2>
            <%= link_to frog.name, frog_path(frog) %>
            </h2>
            <p><%= frog.scientific_name %></p>
            <p><%= frog.color %></p>
            <p><%= frog.age %> anos</p>
            <p><%= frog.cpf %></p>
            <p>A venda? <%= frog.on_sale ? 'sim' : 'nao' %></p>
        </div>
    <% end %>
<% end %>