<h2><%= @frog.name %></h2>
<p><%= @frog.scientific_name %></p>
<p><%= @frog.color %></p>
<p><%= @frog.age %> anos</p>
<p>Essa idade está: <%= @frog.above_or_below_age_average %> da média geral dos sapos</p>
<p><%= @frog.cpf %></p>
<p>A venda? <%= @frog.on_sale ? 'sim' : 'nao' %></p>